<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' type='text/css' href='custom.css.scss'/>
	</head>
<body>
    <script type="text/javascript">
    </script>
<!--
    <%=image_tag("lockicon3.png", class: "lock", alt:"lock") %> 
    <%=image_tag("lockicon4.png", class: "lock4", alt:"lock") %>
    <%=image_tag("lockicon5.png", class: "lock5", alt:"lock") %>
    <%=image_tag("lockicon6.png", class: "lock6", alt:"lock") %>
    <%=image_tag("lockicon7.png", class: "lock7", alt:"lock") %>
    <%=image_tag("lockicon8.png", class: "lock8", alt:"lock") %>
    <%=image_tag("lockicon9.png", class: "lock9", alt:"lock") %>
    <%=image_tag("lockicon10.png", class: "lock10", alt:"lock") %>
//-->
  	<input type="button" name="button1" value="3 x 3" style="position: absolute; left: 75px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:110px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button2" value="4 x 4" style="position: absolute; left: 225px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:260px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button3" value="5 x 5" style="position: absolute; left: 375px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:410px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button4" value="6 x 6" style="position: absolute; left: 525px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:560px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button5" value="7 x 7" style="position: absolute; left: 675px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:710px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button6" value="8 x 8" style="position: absolute; left: 825px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:860px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button7" value="9 x 9" style="position: absolute; left: 975px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:1010px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  	<input type="button" name="button8" value="10 x 10" style="position: absolute; left: 1125px; top: 300px; width: 100px;" onclick="window.location='game'" 
    />

    <IMG STYLE="position:absolute; TOP:330px; LEFT:1160px; WIDTH:30px; HEIGHT:30px" SRC="assets/lockicon3.png">

  </body>
 </html>
