<header class="navbar navbar-fixed-top navbar-inverse">
     
      <div class="container">
         <% if logged_in? %>
       	    <%= link_to "Gridworkz", game_path,  id: "logo" %>
          <% else %>
            <%= link_to "Gridworkz", "/", id: "logo" %>
          <% end %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            
            <% if !logged_in? %>
              <li><%= link_to "Home",   '/' %></li>
              <li><%= link_to "About", about_path%></li> 
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
              
            </li>
          <% else %>
              <li><%= link_to "Game",   game_path%></li>
              <li><%= link_to "About", about_path%></li> 
              <li><%= link_to "Levels", levels_path %></li>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= button_to "Logout", logout_path, :method => :delete %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>